[extension]
name = "auth_delay"
version = "17.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/auth_delay"
license = "PostgreSQL"
description = "auth_delay causes the server to pause briefly before reporting authentication failure, to make brute-force attacks on database passwords more difficult."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/auth-delay.html"
categories = ["security"]
loadable_libraries = [{ library_name = "auth_delay", requires_restart = true }]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/auth_delay && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/17/lib
    """

