[extension]
name = "temporal_tables"
version = "1.2.1"
repository = "https://github.com/arkhipov/temporal_tables"
license = "BSD-2-Clause"
description = "Temporal Tables PostgreSQL Extension."
documentation = "https://github.com/arkhipov/temporal_tables"
categories = ["auditing_logging"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd temporal_tables && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
