[extension]
name = "isn"
version = "1.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/isn"
license = "PostgreSQL"
description = "The isn module provides data types for the following international product numbering standards: EAN13, UPC, ISBN (books), ISMN (music), and ISSN (serials)."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/isn.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/isn && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/17/lib
    """
