[extension]
name = "pgrouting"
version = "3.7.0"
repository = "https://github.com/pgRouting/pgrouting"
license = "GPL-2.0"
description = "pgRouting extends the PostGIS / PostgreSQL geospatial database to provide geospatial routing functionality."
homepage = "https://pgrouting.org/"
documentation = "https://docs.pgrouting.org/latest/en/index.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libstdc++6", "libc6", "libgcc-s1"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pgrouting/build install"
