[extension]
name = "pg_repack"
version = "1.5.2"
repository = "https://github.com/reorg/pg_repack"
license = "BSD-3-Clause"
description = "pg_repack is a PostgreSQL extension which lets you remove bloat from tables and indexes, and optionally restore the physical order of clustered indexes."
documentation = "https://reorg.github.io/pg_repack/"
categories = ["index_table_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
