
[extension]
name = "insert_username"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/spi"
license = "PostgreSQL"
description = "Functions for Tracking Who Changed a Table."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/contrib-spi.html"
categories = ["auditing_logging"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/spi && make install
    set -x
    mv /usr/local/pgsql/share/extension/insert_username* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/insert_username* /usr/lib/postgresql/15/lib
    """
