[extension]
name = "pg_store_plans"
version = "1.8.0"
repository = "https://github.com/ossc-db/pg_store_plans"
license = "Copyright"
description = "Track plan statistics of all SQL statements executed."
documentation = "https://ossc-db.github.io/pg_store_plans/"
categories = ["metrics"]
loadable_libraries = [{ library_name = "pg_store_plans", requires_restart = true }]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd postgres/contrib/pg_store_plans && make install"
