[extension]
name = "pg_anonymize"
version = "1.0.0"
repository = "https://github.com/rjuju/pg_anonymize"
license = "GPL-3.0"
description = "PostgreSQL dynamic data anonymization."
documentation = "https://github.com/rjuju/pg_anonymize"
categories = ["security"]
loadable_libraries = [{ library_name = "pg_anonymize", requires_restart = true }]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_anonymize && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

