[extension]
name = "plpython3u"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/src/pl/plpython"
license = "PostgreSQL"
description = "Th PL/Python3U untrusted procedural language for PostgreSQL."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/plpython.html"
categories = ["procedural_languages"]

[dependencies]
apt = ["libc6", "libpython3"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C postgres/src/pl/plpython install"
