[extension]
name = "pgfaceting"
version = "0.2.0"
repository = "https://github.com/cybertec-postgresql/pgfaceting"
license = "BSD-3-Clause"
description = "Faceted query acceleration for PostgreSQL using roaring bitmap."
documentation = "https://github.com/cybertec-postgresql/pgfaceting"
categories = ["search"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd pgfaceting && make install"
