[extension]
name = "amcheck"
version = "1.4.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/amcheck"
license = "PostgreSQL"
description = "The amcheck module provides functions that allow you to verify the logical consistency of the structure of relations."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/amcheck.html"
categories = ["index_table_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/amcheck && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/17/lib
    """
