[extension]
name = "timescaledb"
version = "2.13.1"
repository = "https://github.com/timescale/timescaledb"
license = "Apache-2.0"
description = "An open-source time-series SQL database optimized for fast ingest and complex queries. Packaged as a PostgreSQL extension."
homepage = "https://www.timescale.com/"
documentation = "https://docs.timescale.com/"
categories = ["analytics"]
preload_libraries = ["timescaledb"]

[dependencies]
apt = ["libssl3", "openssl", "libpq5", "libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd timescaledb/build && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

