[extension]
name = "dict_int"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/dict_int"
license = "PostgreSQL"
description = "Dictionary to control the indexing of integers (signed and unsigned)."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/dict-int.html"
categories = ["search"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/dict_int && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
