[extension]
name = "pg_similarity"
version = "1.0.0"
repository = "https://github.com/eulerto/pg_similarity"
license = "BSD-3-Clause"
description = "Support similarity queries."
documentation = "https://github.com/eulerto/pg_similarity"
categories = ["search"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_similarity && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
