@import "../../variables.scss";
.container {
  display: flex;
  flex-direction: column;
  width: 220px;
  position: sticky;
  top: $spacing-6xl;
  height: 100%;
  margin: 0 $spacing-7xl;
  align-self: flex-start;
  padding-bottom: $spacing-l;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}

.listItem {
  margin: $spacing-m 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.catCount {
  background-color: $med-tan;
  padding: 4px 10px;
  border-radius: 14px;
  border: 1px solid $dark-tan;
  max-height: fit-content;
}
