@import "../../variables.scss";
.container {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: sticky;
  top: $spacing-6xl;
  height: 100%;
  margin: 0 $spacing-5xl;
  align-self: flex-start;
  padding-top: $spacing-s;
  padding-bottom: $spacing-l;
}
@media screen and (max-width: 1024px) {
  .container {
    position: absolute;
    z-index: 5;
    background-color: $dark-tan;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3vw;
    display: none;
  }
}

.listItem {
  margin: $spacing-s 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.catCount {
  background-color: $med-tan;
  padding: 4px 10px;
  border-radius: 14px;
  border: 1px solid $dark-tan;
  max-height: fit-content;
}
.activeCat {
  background-color: $black;
  color: $white;
}

.mobileTitle {
  font-family: $inter;
  font-weight: 600;
  font-size: 30px;
  line-height: 18px;
  padding: $spacing-l;
}

.closeMenu {
  all: unset;
  padding: $spacing-l;
  font-size: 30px;
}
.mobileCategories {
  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
