[extension]
name = "pg_partman"
version = "5.2.2"
repository = "https://github.com/pgpartman/pg_partman"
license = "PostgreSQL"
description = "Extension to manage partitioned tables by time or ID."
documentation = "https://github.com/pgpartman/pg_partman"
categories = ["featured", "orchestration"]
preload_libraries = ["pg_partman_bgw"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
