[extension]
name = "pg_financial"
version = "1.0.1"
repository = "https://github.com/intgr/pg_financial"
license = "PostgreSQL"
description = "PostgreSQL extension with functions and aggregates for financial calculations."
documentation = "https://github.com/intgr/pg_financial"
categories = ["analytics"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pg_financial install"
