[extension]
name = "periods"
version = "1.2.0"
repository = "https://github.com/xocolatl/periods"
license = "PostgreSQL"
description = "This extension recreates the behavior defined in SQL:2016 (originally in SQL:2011) around periods and tables with SYSTEM VERSIONING."
documentation = "https://github.com/xocolatl/periods"
categories = ["data_transformations"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd periods && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
