[extension]
name = "periods"
version = "1.2.2"
repository = "https://github.com/xocolatl/periods"
license = "PostgreSQL"
description = "This extension recreates the behavior defined in SQL:2016 (originally in SQL:2011) around periods and tables with SYSTEM VERSIONING."
documentation = "https://github.com/xocolatl/periods"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C periods install"
