[extension]
name = "bloom"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/bloom"
license = "PostgreSQL"
description = "bloom provides an index access method based on Bloom filters."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/bloom.html"
categories = ["index_table_optimizations"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/bloom && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

