[extension]
name = "pg_visibility"
version = "1.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/pg_visibility"
license = "PostgreSQL"
description = "The pg_visibility module provides a means for examining the visibility map (VM) and page-level visibility information of a table."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/pgvisibility.html"
categories = ["metrics"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/pg_visibility && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
