[extension]
name = "pg_track_settings"
version = "2.1.2"
repository = "https://github.com/rjuju/pg_track_settings"
license = "PostgreSQL"
description = "Keep track of postgresql settings modification."
documentation = "https://github.com/rjuju/pg_track_settings"
categories = ["auditing_logging"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_track_settings && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

