[extension]
name = "pglogical_ticker"
version = "1.4.1"
repository = "https://github.com/enova/pglogical_ticker"
license = "MIT"
description = "Time-based replication delay for pglogical."
documentation = "https://github.com/enova/pglogical_ticker"
categories = ["change_data_capture"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pglogical_ticker install"
