[extension]
name = "pg_prewarm"
version = "1.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/pg_prewarm"
license = "PostgreSQL"
description = "The pg_prewarm module provides a convenient way to load relation data into either the operating system buffer cache or the PostgreSQL buffer cache."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/pgprewarm.html"
categories = ["data_transformations"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/pg_prewarm && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """