[extension]
name = "clickhouse_fdw"
version = "1.4.0"
repository = "https://github.com/ildus/clickhouse_fdw"
license = "Apache-2.0"
description = "ClickHouse FDW for PostgreSQL."
documentation = "https://github.com/ildus/clickhouse_fdw"
categories = ["connectors"]

[dependencies]
apt = ["libstdc++6", "libc6", "libgcc-s1"," libuuid1", "libcurl4"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd clickhouse_fdw/build && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

