[extension]
name = "pg_tle"
version = "1.0.4"
repository = "https://github.com/aws/pg_tle"
license = "Apache-2.0"
description = "Framework for building trusted language extensions for PostgreSQL."
homepage = "https://aws.amazon.com/"
documentation = "https://github.com/aws/pg_tle/tree/main/docs"
categories = ["procedural_languages"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_tle && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
