[extension]
name = "rum"
version = "1.3.0"
repository = "https://github.com/postgrespro/rum"
license = "PostgreSQL"
description = "The rum module provides an access method to work with a RUM index."
homepage = "https://postgrespro.com/"
documentation = "https://postgrespro.com/docs/enterprise/13/rum"
categories = ["index_table_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/rum && make USE_PGXS=1 install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

