[extension]
name = "pg_hashids"
version = "1.3.0"
repository = "https://github.com/iCyberon/pg_hashids"
license = "MIT"
description = "Hashids is a small open-source library that generates short, unique, non-sequential ids from numbers."
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd pg_hashids && make install"

