[extension]
name = "pg_hashids"
version = "1.2.1"
repository = "https://github.com/iCyberon/pg_hashids"
license = "MIT"
description = "Hashids is a small open-source library that generates short, unique, non-sequential ids from numbers."
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pg_hashids install"
