[extension]
name = "pguri"
version = "1.0.0"
repository = "https://github.com/petere/pguri"
license = "Copyright"
description = "uri type for PostgreSQL."
documentation = "https://github.com/petere/pguri"
categories = ["data_transformations"]

[dependencies]
apt = ["liburiparser1", "libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pguri && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
