[extension]
name = "tdigest"
version = "1.4.2"
repository = "https://github.com/tvondra/tdigest"
license = "PostgreSQL"
description = "PostgreSQL extension for estimating percentiles using t-digest."
documentation = "https://github.com/tvondra/tdigest"
categories = ["analytics"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C tdigest install"
