[extension]
name = "jsonb_plperl"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/jsonb_plperl"
license = "PostgreSQL"
description = "Transforms the jsonb type for the PL/Perl language."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/datatype-json.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6", "libperl5.34"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/jsonb_plperl && make install
    set -x
    mv /usr/local/pgsql/share/extension/jsonb_plperl.* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/share/extension/jsonb_plperl--* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

