[extension]
name = "jsonb_plperl"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/jsonb_plperl"
license = "PostgreSQL"
description = "Transforms the jsonb type for the PL/Perl language."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/datatype-json.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6", "libperl5"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    make -C postgres/contrib/jsonb_plperl install
    rm "$(pg_config --sharedir)"/extension/jsonb_plperlu{--*,.*}
"""
