.extDetailCont {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 4vw;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
.titleSection {
  max-width: 600px;
}
.section {
  width: 100%;
  margin: 40px 0;
  max-width: 300px;
}
.extHeaderRow {
  display: flex;
  align-items: center;
}
.extVersion {
  background-color: #cfd9fc;
  color: #302c2d;
  padding: 10px 20px;
  margin-left: 20px;
  font-family: "Inconsolata", monospace;
}
.sectionTitle {
}
.infoPara {
  color: #6b6b6b;
  margin: 0;
}
.installCode {
  background-color: #f1f1f1;
  font-family: "Inconsolata", monospace;
  padding: 10px 20px;
  font-size: 1.2rem;
}
.infoDetail {
  margin: 5px 0;
}
.aboutSection {
  margin: 15px 0;
}
