[extension]
name = "argm"
version = "1.1.1"
repository = "https://github.com/bashtanov/argm"
license = "PostgreSQL"
description = "Argm postgresql extension: argmax/argmin and anyold aggregate functions."
documentation = "https://github.com/bashtanov/argm"
categories = ["query_optimizations"]


[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd argm && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
