[extension]
name = "pg_search"
version = "0.15.6"
repository = "https://github.com/paradedb/paradedb/tree/dev/pg_search"
license = "AGPL-3.0"
description = "Full text search over heap tables using the BM25 algorithm."
homepage = "https://www.paradedb.com/"
documentation = "https://github.com/paradedb/paradedb/tree/dev/pg_search"
categories = ["search"]
loadable_libraries = [{ library_name = "pg_search", requires_restart = true }]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd paradedb/pg_search && cargo pgrx install --release --features icu"
