[extension]
name = "pg_search"
version = "0.11.0"
repository = "https://github.com/paradedb/paradedb/tree/dev/pg_search"
license = "AGPL-3.0"
description = "Full text search over heap tables using the BM25 algorithm."
homepage = "https://www.paradedb.com/"
documentation = "https://github.com/paradedb/paradedb/tree/dev/pg_search"
categories = ["search"]
loadable_libraries = [{ library_name = "pg_search", requires_restart = true }]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd paradedb/
    mv target/release/pg_search-pg15/usr/lib/postgresql/15/lib/* /usr/lib/postgresql/15/lib
    mv target/release/pg_search-pg15/usr/share/postgresql/15/extension/* /usr/share/postgresql/15/extension
"""
