[extension]
name = "pg_cron"
version = "1.5.1"
repository = "https://github.com/citusdata/pg_cron"
license = "PostgreSQL"
description = "Job scheduler for PostgreSQL."
homepage = "https://www.citusdata.com/"
categories = ["orchestration"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd pg_cron && make install"
