[extension]
name = "plpgsql"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/src/pl/plpgsql"
license = "PostgreSQL"
description = "The PL/Pgsql procedural language for PostgreSQL."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/plpgsql.html"
categories = ["procedural_languages"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    make -C postgres/src/pl/plpgsql install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
"""

