[extension]
name = "pg_currency"
version = "0.0.4"
repository = "https://github.com/adjust/pg-currency"
license = "MIT"
description = "1 Byte Currency ISO type for PostgreSQL."
homepage = "https://www.adjust.com/"
documentation = "https://github.com/adjust/pg-currency"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
