[extension]
name = "xml2"
version = "1.1.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/xml2"
license = "PostgreSQL"
description = "The xml2 module provides XPath querying and XSLT functionality."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/xml2.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libxml2", "libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/xml2 && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
