[extension]
name = "prefix"
version = "1.2.0"
repository = "https://github.com/dimitri/prefix"
license = "PostgreSQL"
description = "Prefix Range module for PostgreSQL."
documentation = "https://github.com/dimitri/prefix"
categories = ["data_transformations"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd prefix && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
