[extension]
name = "tembo_ivm"
version = "1.9"
repository = "https://github.com/tembo-io/pg_ivm"
license = "PostgreSQL"
description = "IVM (Incremental View Maintenance) implementation with Partitioned Support"
homepage = "https://www.sraoss.co.jp/index_en/"
documentation = "https://github.com/tembo-io/pg_ivm"
categories = ["change_data_capture"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_ivm && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
