[extension]
name = "intarray"
version = "1.5.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/intarray"
license = "PostgreSQL"
description = "The intarray module provides a number of useful functions and operators for manipulating null-free arrays of integers."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/intarray.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/intarray && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/17/lib
    """
