[extension]
name = "zson"
version = "1.1.0"
repository = "https://github.com/postgrespro/zson"
license = "MIT"
description = "ZSON is a PostgreSQL extension for transparent JSONB compression."
documentation = "https://github.com/postgrespro/zson"
categories = ["data_transformations"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd zson && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
