.searchRow {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: -20px;
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}
.input {
  width: 40vw;
  min-width: 200px;
  font-size: 1rem;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
}
.searchButton {
  all: unset;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: black;
  color: white;
  box-shadow: none;
  border-radius: 0 4px 4px 0;
  border: 1px solid black;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
.extensionList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  justify-content: center;
}
.extCont {
  all: unset;
  cursor: pointer;
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid hsla(0, 0%, 37%, 0.3);
  max-width: 400px;
  border-radius: 4px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
.titleRow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.extVersion {
  background-color: hsla(0, 0%, 82%, 0.5);
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 4px;
  color: hsla(0, 0%, 0%, 0.7);
  margin-left: 20px;
}
.extName {
  font-weight: 700;
  font-size: 1.2rem;
}
.extDesc {
  font-size: 1rem;
  font-weight: 400;
  color: hsla(0, 0%, 0%, 0.7);
  justify-self: flex-start;
}
.extFooter {
  display: flex;
  justify-content: space-between;
  //   background-color: red;
  margin-top: auto;
}
.extAuthor {
  font-weight: 400;
  color: hsla(0, 0%, 0%, 0.7);
}
.extLastUpdated {
  font-weight: 400;
  color: hsla(0, 0%, 0%, 0.7);
}
.viewAll {
  all: unset;
  cursor: pointer;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  margin-left: 10px;
  padding: 5px;
  margin: 10px;
}
.linkRow {
  display: flex;
  max-width: 500px;
  margin: 30px auto;
}
.linkButton {
  all: unset;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid black;
  padding: 0 40px;
  height: 48px;
  cursor: pointer;
}
