.searchRow {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-top: -20px;
  @media (max-width: 768px) {
    margin-top: 10px;
  }
}
.input {
  width: 40vw;
  min-width: 200px;
  font-size: 1rem;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 4px 0 0 4px;
}
.searchButton {
  all: unset;
  padding: 10px 20px;
  font-size: 1rem;
  background-color: black;
  color: white;
  box-shadow: none;
  border-radius: 0 4px 4px 0;
  border: 1px solid black;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}
