[extension]
name = "supautils"
version = "1.7.3"
repository = "https://github.com/supabase/supautils"
license = "Apache-2.0"
description = "PostgreSQL extension that prevents doing ALTER/DROP/GRANT on a set of reserved roles."
homepage = "https://supabase.com/"
documentation = "https://supabase.github.io/supautils/"
categories = ["tooling_admin"]
loadable_libraries = [{ library_name = "supautils", requires_restart = true }]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd supautils && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

