[extension]
name = "tsm_system_rows"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/tsm_system_rows"
license = "PostgreSQL"
description = "The tsm_system_rows module provides the table sampling method SYSTEM_ROWS."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/tsm-system-rows.html"
categories = ["data_transformations"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/tsm_system_rows && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
