[extension]
name = "citus"
version = "12.1.6"
repository = "https://github.com/citusdata/citus"
license = "AGPL-3.0"
description = "Distributed PostgreSQL as an extension."
homepage = "https://www.citusdata.com/"
documentation = "https://docs.citusdata.com/en/stable/"
categories = ["tooling_admin"]
loadable_libraries = [{ library_name = "citus", requires_restart = true }]

[dependencies]
apt = ["libpq5", "openssl", "libc6", "liblz4-1", "libzstd1", "libssl3", "libcurl4"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
