[extension]
name = "unaccent"
version = "1.1.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/unaccent"
license = "PostgreSQL"
description = "unaccent is a text search dictionary that removes accents (diacritic signs) from lexemes."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/unaccent.html"
categories = ["search"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
include = ["tsearch_data/unaccent.rules"]
install_command = """
    cd postgres/contrib/unaccent && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """