@import "../../variables.scss";
.container {
  margin-right: $spacing-4xl;
  flex: 1;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;
}
.extCard {
  all: unset;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $white;
  border: 1px solid $dark-tan;
  padding: $spacing-xl;
  border-radius: $spacing-xl;
  cursor: pointer;
}
.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.extAuthor {
  margin-top: auto;
}

.sectionHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: $spacing-m 0;
  position: sticky;
  top: $spacing-5xl;
  background-color: $light-tan;
  padding: $spacing-m 0;
  width: 100%;
}

.catBubble {
  all: unset;
  font-family: $inter;
  font-size: 12px;
  border-radius: 14px;
  color: $grey;
  background-color: $dark-tan;
  padding: $spacing-xs $spacing-s;
  width: fit-content;
  margin-top: auto;
  border: 1px solid $dark-tan;
  &:hover {
    cursor: pointer;
    background-color: $med-tan;
    border: 1px solid $dark-tan;
  }
}
.description {
  color: $dark-grey;
  margin: $spacing-l 0;
}
.author {
  margin-top: auto;
  padding-top: $spacing-l;
  color: $green;
}
@media screen and (max-width: 1000px) {
  .sectionHeader {
    flex-direction: column-reverse;
    width: 100%;
  }
  .container {
    margin: $spacing-l;
  }
  .title {
    margin-top: $spacing-2xl;
  }
}

.showCategoriesButton {
  display: none;
  @media screen and (max-width: 1024px) {
    all: unset;
    margin-top: $spacing-m;
    font-family: $plex;
    text-decoration: underline;
    font-size: 20px;
    border-bottom: 1px solid $dark-tan;
    padding-bottom: $spacing-m;
    width: 100%;
    text-align: center;
  }
}
