[extension]
name = "pg_stat_monitor"
version = "2.1.0"
repository = "https://github.com/percona/pg_stat_monitor"
license = "PostgreSQL"
description = "Query Performance Monitoring Tool for PostgreSQL."
homepage = "https://www.percona.com/"
documentation = "https://docs.percona.com/pg-stat-monitor/index.html"
categories = ["query_optimizations"]
loadable_libraries = [{ library_name = "pg_stat_monitor", requires_restart = true }]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install USE_PGXS=1"
