[extension]
name = "pg_stat_monitor"
version = "2.0.4"
repository = "https://github.com/percona/pg_stat_monitor"
license = "PostgreSQL"
description = "Query Performance Monitoring Tool for PostgreSQL."
homepage = "https://www.percona.com/"
documentation = "https://docs.percona.com/pg-stat-monitor/index.html"
categories = ["query_optimizations"]
preload_libraries = ["pg_stat_monitor"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "16"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_stat_monitor && make USE_PGXS=1 install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/16/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/16/lib
    """
