[extension]
name = "citext"
version = "1.6.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/citext"
license = "PostgreSQL"
description = "The citext module provides a case-insensitive character string type, citext."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/citext.html"
categories = ["data_transformations"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/citext && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
