[extension]
name = "plv8"
version = "3.2.3"
repository = "https://github.com/plv8/plv8"
license = "Copyright"
description = "A procedural language in JavaScript powered by V8"
documentation = "https://plv8.github.io/"
categories = ["procedural_languages"]

[dependencies]
apt = ["libstdc++6", "libgcc-s1", "libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
