.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  background: linear-gradient(103.48deg, #d7036a 2.42%, #ff5c00 73.18%, #ff7a00 98.1%);
}
.title {
  color: white;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}
.loginButton {
  all: unset;
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0 15px;
  height: 48px;
  cursor: pointer;
  &:hover .userName {
    display: none;
  }
  &:hover .logout {
    display: block;
  }
}
.authText {
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.logout {
  display: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.userName {
  display: block;
}
.loggedIn {
  display: flex;
  align-items: center;
}
.navLink {
  text-decoration: none;
  color: #ffffff;
  padding: 0 20px;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  letter-spacing: 0.75px;
  cursor: pointer;
}
.logoCont {
  margin-right: 10px;
}
.version {
  background-color: hsla(0, 0%, 100%, 0.26);
  border-radius: 5px;
  margin-left: 15px;
  color: white;
  padding: 5px 7px;
  font-size: 0.6rem;
  font-weight: 700;
  line-height: 10px;
}
