[extension]
name = "pg_analytics"
version = "0.3.0"
repository = "https://github.com/paradedb/pg_analytics"
license = "PostgreSQL"
description = "pg_analytics (formerly named pg_lakehouse) puts DuckDB inside Postgres"
homepage = "https://github.com/paradedb/pg_analytics"
documentation = "https://github.com/paradedb/pg_analytics/blob/dev/README.md"
categories = ["analytics", "data_transformations"]
loadable_libraries = [{ library_name = "pg_analytics", requires_restart = true }]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd pg_analytics && cargo pgrx install --release"
