[extension]
name = "sslinfo"
version = "1.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/sslinfo"
license = "PostgreSQL"
description = "The sslinfo module provides information about the SSL certificate that the current client provided when connecting to PostgreSQL."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/sslinfo.html"
categories = "Security"

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/sslinfo && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """