[extension]
name = "pg_wait_sampling"
version = "1.1.0"
repository = "https://github.com/postgrespro/pg_wait_sampling"
license = "PostgreSQL"
description = "Sampling based statistics of wait events."
documentation = "https://github.com/postgrespro/pg_wait_sampling"
categories = ["metrics"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_wait_sampling && make USE_PGXS=1 install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
