[extension]
name = "hypopg"
version = "1.4.0"
repository = "https://github.com/HypoPG/hypopg"
license = "PostgreSQL"
description = "Hypothetical Indexes for PostgreSQL."
documentation = "https://hypopg.readthedocs.io/"
categories = ["index_table_optimizations"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd hypopg && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
