[extension]
name = "pg_permissions"
version = "1.3.0"
repository = "https://github.com/cybertec-postgresql/pg_permissions"
license = "Copyright"
description = "A simple set of views to see ALL permissions in a PostgreSQL database."
homepage = "https://www.cybertec-postgresql.com/en/"
documentation = "https://github.com/cybertec-postgresql/pg_permissions"
categories = ["tooling_admin"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pg_permissions install"
