[extension]
name = "pgrowlocks"
version = "1.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/pgrowlocks"
license = "PostgreSQL"
description = "The pgrowlocks module provides a function to show row locking information for a specified table."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/pgrowlocks.html"
categories = ["metrics"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/pgrowlocks && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

