[extension]
name = "rdkit"
version = "4.3.0"
repository = "https://github.com/rdkit/rdkit/tree/master/Code/PgSQL/rdkit"
license = "BSD-3-Clause"
description = "Cheminformatics functionality for PostgreSQL."
homepage = "https://www.rdkit.org/"
documentation = "https://www.rdkit.org/docs/index.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libfreetype6", "libboost-serialization1.74.0", "libc6", "libstdc++6", "libgcc-s1"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    sh rdkit-Release_2023_03_3/build/Code/PgSQL/rdkit/pgsql_install.sh
    """
