[extension]
name = "postgresml"
version = "2.7.1"
repository = "https://github.com/postgresml/postgresml"
license = "MIT"
description = "PostgresML is a machine learning extension to PostgreSQL that enables you to perform training and inference on text and tabular data using SQL queries."
homepage = "https://postgresml.org/"
documentation = "https://postgresml.org/docs/guides/setup/quick_start_with_docker"
categories = ["machine_learning"]

[dependencies]
apt = [libpython3.10, libstdc++6, libgomp1, libopenblas0-pthread, libc6, libgcc-s1]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgresml/pgml-extension
    mv target/release/pgml-pg15/usr/lib/postgresql/15/lib/* /usr/lib/postgresql/15/lib
    mv target/release/pgml-pg15/usr/share/postgresql/15/extension/* /usr/share/postgresql/15/extension
"""
