[extension]
name = "pg_squeeze"
version = "1.5.0"
repository = "https://github.com/cybertec-postgresql/pg_squeeze"
license = "Copyright"
description = "A PostgreSQL extension for automatic bloat cleanup."
homepage = "https://www.cybertec-postgresql.com/en/"
documentation = "https://github.com/cybertec-postgresql/pg_squeeze"
categories = ["index_table_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_squeeze && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

