@import "../../variables.scss";

.sunsetBanner {
  width: 100%;
  padding: $spacing-m $spacing-m;
  background-color: #FF6600;
  color: white;
  text-align: center;
  font-family: $inter;
  font-weight: 800;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header {
  position: fixed;
  top: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  padding: 0 $spacing-m;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 100vw;
  margin-top: 54px;
}

.headerLeft {
  display: flex;
}
.headerSearchCont {
  margin-left: 20px;
}
@media screen and (max-width: 850px) {
  .headerLeft {
    justify-content: space-between;
    flex: 1;
  }
  .headerSearchCont {
    display: none;
  }
  .header {
    padding: $spacing-s $spacing-m;
    margin-top: 46px;
  }
  .sunsetBanner {
    font-size: 14px;
    padding: $spacing-s $spacing-s;
  }
}

.navSubRow {
  display: flex;
  align-items: center;
}

.title {
  color: $black;
  font-family: $inter;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
}
.headerScrolled {
  background-color: $white;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.navLink {
  font-family: $plex;
  padding: $spacing-xl 0;
  margin: $spacing-l 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 0 $spacing-2xl;
}
.navLinkSearch {
  padding: 0 14px;
}

.ctaCont {
  padding: $spacing-s $spacing-xl;
  margin: 0;
  background-color: $black;
  display: flex;
  align-items: center;
  border-radius: 44px;
  white-space: nowrap;
}
.ctaText {
  color: $white;
  font-family: $inter;
  font-size: 14px;
  font-weight: 700;
  margin-left: $spacing-s;
}
@media screen and (max-width: 1024px) {
  .ctaCont {
    display: none;
  }
}

.menuButton {
  display: none;
  text-decoration: none;
  // color: #ffffff;
  // padding: 0 0 0 20px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-size: 1rem;
  letter-spacing: 0.75px;
  cursor: pointer;
  @media screen and (max-width: 850px) {
    display: block;
  }
}

.linksCont {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.closeButton {
  display: none;
}
@media screen and (max-width: 850px) {
  .linksCont {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    padding-top: $spacing-6xl;
    background-color: $light-tan;
    z-index: 10;
  }
  .navLink {
    font-size: 40px;
    padding: $spacing-xl 0;
    margin: $spacing-l 0;
  }
  .closeButton {
    all: unset;
    display: block;
    font-family: $inter;
    font-weight: 600;
    font-size: 30px;
    // margin-top: auto;
    // margin-bottom: $spacing-5xl;
    line-height: 18px;
    position: absolute;
    padding: 20px;
    top: 3vw;
    right: 3vw;
  }
}

.showLinks {
  display: flex;
}
