@import "../../variables.scss";
.header {
  position: absolute;
  top: 0;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
.title {
  color: $grey;
}
.headerScrolled {
  background-color: $white;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
