[extension]
name = "pltcl"
version = "1.0.0"
license = "PostgreSQL"
repository = "https://github.com/postgres/postgres/tree/master/src/pl/tcl"
description = "The PL/Tcl procedural language for PostgreSQL."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/pltcl.html"
categories = ["procedural_languages"]

[dependencies]
apt = ["libtcl8.6.so", "libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    make -C postgres/src/pl/tcl install
    set -x
    mv /usr/local/pgsql/share/extension/pltcl.* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/share/extension/pltcl--* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/pltcl* /usr/lib/postgresql/17/lib
"""

