[extension]
name = "pltcl"
version = "1.0.0"
license = "PostgreSQL"
repository = "https://github.com/postgres/postgres/tree/master/src/pl/tcl"
description = "The PL/Tcl procedural language for PostgreSQL."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/pltcl.html"
categories = ["procedural_languages"]

[dependencies]
apt = ["libtcl8", "libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    make -C postgres/src/pl/tcl install
    rm "$(pg_config --sharedir)"/extension/pltclu{--*,.*}
"""
