[extension]
name = "pg_dirtyread"
version = "2.7.0"
repository = "https://github.com/df7cb/pg_dirtyread"
license = "PostgreSQL"
description = "Read dead but unvacuumed tuples from a PostgreSQL relation."
documentation = "https://github.com/df7cb/pg_dirtyread"
categories = ["search"]


[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pg_dirtyread install"
