[extension]
name = "pgtt"
version = "4.0.0"
repository = "https://github.com/darold/pgtt"
license = "ISC"
description = "Extension to add Global Temporary Tables feature to PostgreSQL."
documentation = "https://github.com/darold/pgtt"
categories = ["index_table_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pgtt install"
