[extension]
name = "chkpass"
version = "1.0.0"
repository = "https://github.com/lacanoid/chkpass"
license = ""
description = "Stand alone version of chkpass type for PG 11+."
documentation = "https://github.com/lacanoid/chkpass"
categories = ["security"]

[dependencies]
apt = [libcrypt1, libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd chkpass && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
