@import "../variables.scss";
.main {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}
.body {
  display: flex;
  flex-direction: row;
  background-color: $light-tan;
  align-items: flex-start;
}
