[extension]
name = "meta"
version = "0.3.0"
repository = "https://github.com/aquameta/meta"
license = "BSD-2-Clause"
description = "Normalized, friendlier system catalog for PostgreSQL."
documentation = "https://github.com/aquameta/meta"
categories = ["tooling_admin"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C meta install"
