[extension]
name = "pg_roaringbitmap"
version = "0.5.4"
repository = "https://github.com/ChenHuajun/pg_roaringbitmap"
license = "Apache-2.0"
description = "Support for Roaring Bitmaps."
documentation = "https://github.com/ChenHuajun/pg_roaringbitmap"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
