[extension]
name = "test_decoding"
version = "17.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/test_decoding"
license = "PostgreSQL"
description = "test_decoding receives WAL through the logical decoding mechanism and decodes it into text representations of the operations performed."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/test-decoding.html"
categories = ["change_data_capture"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/test_decoding && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/17/lib
    """