[extension]
name = "postgres_decoderbufs"
version = "1.7.0"
repository = "https://github.com/debezium/postgres-decoderbufs"
license = "MIT"
description = "A PostgreSQL logical decoder output plugin to deliver data as Protocol Buffers."
documentation = "https://github.com/debezium/postgres-decoderbufs"
categories = ["change_data_capture"]

[dependencies]
apt = ["libc6", "libprotobuf-c1"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
# For some reason this extension has a control file even though it has no SQL
# files, So we have to remove it to prevent trunk from complaining about
# finding no SQL files.
install_command = """
    make -C postgres_decoderbufs install
    rm "$(pg_config --sharedir)/extension/decoderbufs.control"
"""
