@import "../../variables.scss";
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.image {
  top: 0;
  z-index: -1;
  width: 100%;
  object-fit: cover;
}
.titleCont {
  position: absolute;
  top: 20vw;
  left: 26vw;
}
.ext {
  font-size: 6vw;
  font-family: $inter;
}
.reg {
  position: absolute;
  top: 15px;
  margin-left: 20px;
}
.tag {
  position: absolute;
  top: 18vh;
  font-family: $plex;
}
.installCont {
  position: absolute;
  top: calc(60% + 5vw);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .installCont {
    top: calc(65%);
  }
}

@media screen and (max-width: 1000px) {
  .installCont {
    top: calc(60%);
  }
}
.installRow {
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  padding: $spacing-s;
  border-radius: 44px;
}
.copyButton {
  border: none;
  background-color: $black;
  color: $white;
  font-family: $inter;
  padding: $spacing-s $spacing-m;
  border-radius: 44px;
  cursor: pointer;
  &:active {
    transform: translateY(2px);
  }
}

.installCode {
  font-family: $plex;
  font-size: 14px;
  font-weight: 400;
}
.installDropdown {
  font-family: $inter;
  font-weight: 700;
  font-size: 14px;
}
.getTrunk {
  font-family: $inter;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: $spacing-s;
}
.installDesc {
  font-family: $inter;
  color: $dark-grey;
  font-size: 16px;
  max-width: 500px;
  text-align: center;
  margin-top: $spacing-m;
  font-weight: 500;
}
.buttonFeedback {
  position: absolute;
  top: -10px;
  right: 50px;
  font-weight: 700;
  background-color: $black;
  color: $white;
  font-family: $inter;
  padding: $spacing-s $spacing-m;
  border-radius: 44px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.showButtonFeedback {
  opacity: 1;
}
