[extension]
name = "cube"
version = "1.5.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/cube"
license = "PostgreSQL"
description = "Data type cube for representing multidimensional cubes."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/cube.html"
categories = ["data_transformations"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/cube && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """