[extension]
name = "pgvector"
version = "0.7.0"
repository = "https://github.com/pgvector/pgvector"
license = "PostgreSQL"
description = "Open-source vector similarity search for Postgres"
homepage = "https://github.com/pgvector/pgvector"
documentation = "https://github.com/pgvector/pgvector"
categories = ["featured", "machine_learning"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pgvector && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
