[extension]
name = "vectorscale"
version = "0.2.0"
repository = "https://github.com/timescale/pgvectorscale"
license = "PostgreSQL"
description = "A complement to pgvector for high performance, cost efficient vector search on large workloads."
homepage = "https://github.com/timescale/pgvectorscaler"
documentation = "https://github.com/timescale/pgvectorscale"
categories = ["machine_learning"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pgvectorscale/pgvectorscale
    mv target/release/vectorscale/usr/lib/postgresql/15/lib/* /usr/lib/postgresql/15/lib
    mv target/release/vectorscale/usr/share/postgresql/15/extension/* /usr/share/postgresql/15/extension
"""