[extension]
name = "vectorscale"
version = "0.5.1"
repository = "https://github.com/timescale/pgvectorscale"
license = "PostgreSQL"
description = "A complement to pgvector for high performance, cost efficient vector search on large workloads."
homepage = "https://github.com/timescale/pgvectorscaler"
documentation = "https://github.com/timescale/pgvectorscale"
categories = ["machine_learning"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pgvectorscale/pgvectorscale
    RUSTFLAGS="-C target-feature=+avx2,+fma" cargo pgrx install --release
"""
