[extension]
name = "pglogical"
version = "2.4.5"
repository = "https://github.com/2ndQuadrant/pglogical"
license = "PostgreSQL"
description = "PostgreSQL Logical Replication."
documentation = "https://github.com/2ndQuadrant/pglogical"
categories = ["change_data_capture"]
preload_libraries = ["pglogical"]

[dependencies]
apt = ["libpq5", "libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pglogical install"
