[extension]
name = "pglogical"
version = "2.4.3"
repository = "https://github.com/2ndQuadrant/pglogical"
license = "PostgreSQL"
description = "PostgreSQL Logical Replication."
documentation = "https://github.com/2ndQuadrant/pglogical"
categories = ["change_data_capture"]
shared_preload_libraries = ["pglogical"]

[dependencies]
apt = ["libpq5", "libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pglogical && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
