[extension]
name = "plrust"
version = "1.2.3"
repository = "https://github.com/tcdi/plrust"
license = "PostgreSQL"
description = "A Rust procedural language handler for PostgreSQL."
homepage = "https://www.tcdi.com/"
documentation = "https://tcdi.github.io/plrust/"
categories = ["procedural_languages"]
preload_libraries = ["plrust"]

[dependencies]
apt = ["libc6", "libgcc-s1"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd plrust/
    mv target/release/plrust-pg15/usr/lib/postgresql/15/lib/* /usr/lib/postgresql/15/lib
    mv target/release/plrust-pg15/usr/share/postgresql/15/extension/* /usr/share/postgresql/15/extension
"""

