[extension]
name = "age"
version = "1.5.0"
repository = "https://github.com/apache/age"
license = "Apache-2.0"
description = "Leverage a graph database on top of the existing relational database."
homepage = "https://age.apache.org/"
documentation = "https://age.apache.org/age-manual/master/index.html"
categories = ["data_transformations"]
loadable_libraries = [{ library_name = "age", requires_restart = true }]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "cd age && make install"
