[extension]
name = "uuid_ossp"
version = "1.1.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/uuid-ossp"
license = "PostgreSQL"
description = "The uuid-ossp module provides functions to generate universally unique identifiers (UUIDs) using one of several standard algorithms."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/uuid-ossp.html"
categories = "Data/Transformations"

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/uuid-ossp && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """