[extension]
name = "pg_text_semver"
version = "1.2.1"
repository = "https://github.com/bigsmoke/pg_text_semver"
license = "Copyright"
description = "PostgreSQL semantic versioning extension, with comparison functions and operators."
documentation = "https://github.com/bigsmoke/pg_text_semver"
categories = ["data_transformations"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
