[extension]
name = "pg_stat_kcache"
version = "2.2.1"
repository = "https://github.com/powa-team/pg_stat_kcache"
license = "PostgreSQL"
description = "Gathers statistics about real reads and writes done by the filesystem layer."
homepage = "https://powa.readthedocs.io/en/latest/index.html"
documentation = "https://github.com/powa-team/pg_stat_kcache"
categories = ["metrics"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_stat_kcache && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
