[extension]
name = "ltree"
version = "1.2.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/ltree"
license = "PostgreSQL"
description = "This module implements a data type ltree for representing labels of data stored in a hierarchical tree-like structure."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/ltree.html"
categories = ["index_table_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/ltree && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

