[extension]
name = "pg_stat_statements"
version = "1.10.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/pg_stat_statements"
license = "PostgreSQL"
description = "The pg_stat_statements module provides a means for tracking planning and execution statistics of all SQL statements executed by a server."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/pgstatstatements.html"
categories = ["metrics"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/pg_stat_statements && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """