[extension]
name = "plperl"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/src/pl/plperl"
license = "PostgreSQL"
description = "The PL/Perl procedural language for PostgreSQL."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/plperl.html"
categories = ["procedural_languages"]

[dependencies]
apt = ["libc6", "libperl5.34"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    make -C postgres/src/pl/plperl install
    set -x
    mv /usr/local/pgsql/share/extension/plperl.* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/share/extension/plperl--* /usr/share/postgresql/17/extension
    mv /usr/local/pgsql/lib/plperl.* /usr/lib/postgresql/17/lib
    mv /usr/local/pgsql/lib/plperl--* /usr/lib/postgresql/17/lib
"""

