[extension]
name = "hstore_plperl"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/hstore_plperl"
license = "PostgreSQL"
description = "Transforms the hstore type for the PL/Perl language."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/hstore.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6", "libperl5"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    make -C postgres/contrib/hstore_plperl install
    rm "$(pg_config --sharedir)"/extension/hstore_plperlu{--*,.*}
"""
