[extension]
name = "pg_mon"
version = "1.0.0"
repository = "https://github.com/RafiaSabih/pg_mon"
license = "MIT"
description = "PostgreSQL extension to enhance query monitoring."
documentation = "https://github.com/RafiaSabih/pg_mon"
categories = ["query_optimizations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pg_mon && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """

