[extension]
name = "hydra_columnar"
version = "1.0.0"
repository = "https://github.com/hydradatabase/hydra"
license = "GNU AGPL"
description = "Columnar storage for Postgres"
homepage = "https://www.hydra.so"
documentation = "https://github.com/hydradatabase/hydra"
categories = ["analytics"]

[dependencies]
apt = [libc6, libzstd1, liblz4-1]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd hydra/columnar && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
