[extension]
name = "ora_migrator"
version = "1.0.0"
repository = "https://github.com/cybertec-postgresql/ora_migrator"
license = "Copyright"
description = "Tools for Oracle to PostgreSQL migration."
documentation = "https://github.com/cybertec-postgresql/ora_migrator"
categories = ["connectors"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C ora_migrator install"
