[extension]
name = "tablefunc"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/tablefunc"
license = "PostgreSQL"
description = "The tablefunc module includes various functions that return tables (that is, multiple rows)."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/tablefunc.html"
categories = ["data_transformations"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/tablefunc && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """