[extension]
name = "pg_qualstats"
version = "2.1.1"
repository = "https://github.com/powa-team/pg_qualstats"
license = "Copyright"
description = "pg_qualstats is a PostgreSQL extension keeping statistics on predicates found in WHERE statements and JOIN clauses."
homepage = "https://powa.readthedocs.io/en/latest/index.html"
documentation = "https://github.com/powa-team/pg_qualstats"
categories = ["index_table_optimizations"]
preload_libraries = ["pg_qualstats"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pg_qualstats install"
