[extension]
name = "pgfincore"
version = "1.3.1"
repository = "https://github.com/klando/pgfincore"
license = "Copyright"
description = "Use mincore to explore linux (or BSD) cache memory."
documentation = "https://github.com/klando/pgfincore"
categories = ["tooling_admin"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make -C pgfincore install"
