[extension]
name = "postgres_fdw"
version = "1.1.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/postgres_fdw"
license = "PostgreSQL"
description = "Foreign-data wrapper postgres_fdw, which can be used to access data stored in external PostgreSQL servers."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/postgres-fdw.html"
categories = ["connectors"]

[dependencies]
apt = ["libc6", "libpq5"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/postgres_fdw && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
