[extension]
name = "autoinc"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/spi"
license = "PostgreSQL"
description = "Functions for Autoincrementing Fields."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/contrib-spi.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/spi && make install
    set -x
    mv /usr/local/pgsql/share/extension/autoinc* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/autoinc* /usr/lib/postgresql/15/lib
    """

