[extension]
name = "pghydro"
extension_name = "pghydro"
version = "6.6.0"
repository = "https://github.com/pghydro/pghydro"
license = "GPL-2.0"
description = "Provide drainage network analysis functionality to PostGIS."
documentation = "https://github.com/pghydro/pghydro"
categories = ["data_transformations"]
preload_libraries = ["pghydro, postgis"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd pghydro
    set -x
    mv * /usr/share/postgresql/15/extension
    """
