[extension]
name = "quantile"
version = "1.1.7"
repository = "https://github.com/tvondra/quantile"
license = "BSD-2-Clause"
description = "This extension provides three simple aggregate functions to compute quantiles."
documentation = "https://github.com/tvondra/quantile"
categories = ["analytics"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
