[extension]
name = "credcheck"
version = "2.0.0"
repository = "https://github.com/MigOpsRepos/credcheck"
license = "MIT"
description = "PostgreSQL plain credential checker"
homepage = "https://www.migops.com/"
documentation = "https://github.com/MigOpsRepos/credcheck"
categories = ["tooling_admin"]

[dependencies]
apt = [libc6]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd credcheck && make install
    set -x
    mv /usr/local/pgsql/share/extension/* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
