.title {
  font-weight: 800;
  font-size: 42px;
  color: white;
  text-align: center;
  margin: 50px auto;
}
.subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
  margin: 30px auto;
  padding: 0 5px;
}
.body {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  max-width: 750px;
  margin: 30px auto;
  padding: 10px;
}
.searchContainer {
  display: flex;
  justify-content: center;
}
.linkButton {
  all: unset;
  margin: 0 auto;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid hsla(0, 0%, 100%, 1);
  padding: 0 40px;
  height: 48px;
  cursor: pointer;
}
.repoText {
  color: hsla(0, 0%, 100%, 1);
  font-weight: 400;
  font-size: 1rem;
}
.linkRow {
  display: flex;
  max-width: 500px;
  margin: 0 auto;
}
