[extension]
name = "plpgsql_check"
version = "2.8.0"
repository = "https://github.com/okbob/plpgsql_check"
license = "Copyright"
description = "Linter tool for the PostgreSQL language plpgsql."
documentation = "https://github.com/okbob/plpgsql_check"
categories = ["debugging"]

[dependencies]
apt = ["libc6"]

[build]
postgres_version = "17"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = "make install"
