name: Trunk builder images

on:
  push:
    branches:
      - 'main'
    paths:
      - "cli/images/**"
      - ".github/workflows/builder-images.yml"
  pull_request:
    branches:
      - 'main'
    paths:
      - "cli/images/**"
      - ".github/workflows/builder-images.yml"


jobs:
  build_and_push_pgrx_builders:
    name: Build and push PGRX builder images
    runs-on:
      - self-hosted
      - dind
      - large-8x8
    strategy:
      fail-fast: false
      matrix:
        pg_version:
          - "14"
          - "15"
          - "16"
        pgrx_version:
#          - "0.7.4"
#          - "0.8.0"
#          - "0.8.3"
#          - "0.8.4"
#          - "0.9.0"
#          - "0.9.1"
#          - "0.9.7"
#          - "0.9.8"
#          - "0.10.0"
#          - "0.10.1"
#          - "0.10.2"
#          - "0.11.0"
          - "0.11.1"
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          image: quay.io/coredb/binfmt:latest
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and push
        run: |
          set -xe
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
          if [ "${BRANCH_NAME}" == "main" ]; then
            PUSH_FLAG="--push"
          fi
          docker buildx build \
            --build-arg PG_VERSION=${{ matrix.pg_version }} \
            --build-arg PGRX_VERSION=${{ matrix.pgrx_version }} \
            --platform linux/amd64,linux/arm64 \
            --tag quay.io/coredb/pgrx-builder:pg${{ matrix.pg_version }}-pgrx${{ matrix.pgrx_version }} \
            --pull ${PUSH_FLAG} cli/images/pgrx-builder

  build_and_push_c_builders:
    name: Build and push C builder images
    runs-on:
      - self-hosted
      - dind
      - large-8x8
    strategy:
      fail-fast: false
      matrix:
        pg_version:
          - "14"
          - "15"
          - "16"
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        with:
          image: quay.io/coredb/binfmt:latest
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USER }}
          password: ${{ secrets.QUAY_PASSWORD }}
      - name: Build and push
        run: |
          set -xe
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)
          PUSH_FLAG=""
          if [ "${BRANCH_NAME}" == "main" ]; then
            PUSH_FLAG="--push"
          fi
          docker buildx build \
            --build-arg PG_VERSION=${{ matrix.pg_version }} \
            --platform linux/amd64,linux/arm64 \
            --tag quay.io/coredb/c-builder:pg${{ matrix.pg_version }} \
            --pull ${PUSH_FLAG} cli/images/c-builder
