name: Trunk test images
defaults:
  run:
    shell: bash
    working-directory: ./images/trunk-test-tembo/

on:
  push:
    branches:
      - 'main'
    paths:
      - "images/trunk-test-tembo/**"
      - ".github/workflows/test-images.yml"
  pull_request:
    branches:
      - 'main'
    paths:
      - "images/trunk-test-tembo/**"
      - ".github/workflows/test-images.yml"


jobs:
  build_trunk_test_image:
    name: Build image used for trunk tests
    runs-on:
      - self-hosted
      - dind
      - large-8x8
    outputs:
      short_sha: ${{ steps.versions.outputs.SHORT_SHA }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Set version strings
        id: versions
        run: |
          echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Build image
        run: |
          set -xe
          docker build -t trunk-test-tembo .
          docker tag trunk-test-tembo trunk-test-tembo:latest
          docker tag trunk-test-tembo trunk-test-tembo:${{ steps.versions.outputs.SHORT_SHA }}
      - name: Login to Quay
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: docker/login-action@v2
        with:
          registry: quay.io/tembo
          username: ${{ secrets.QUAY_USER_TEMBO }}
          password: ${{ secrets.QUAY_PASSWORD_TEMBO }}
      - name: Push to Quay
        if: ${{ github.ref == 'refs/heads/main' }}
        shell: bash
        run: |
          set -xe
          IFS=' ' read -ra TAG_ARRAY <<< "latest ${{ steps.versions.outputs.SHORT_SHA }}"
          for tag in "${TAG_ARRAY[@]}"; do
            docker tag trunk-test-tembo:$tag quay.io/tembo/trunk-test-tembo:$tag
            docker push quay.io/tembo/trunk-test-tembo:$tag
          done
