[extension]
name = "hstore_plperlu"
version = "1.0.0"
repository = "https://github.com/postgres/postgres/tree/master/contrib/hstore_plperl"
license = "PostgreSQL"
description = "Transforms the hstore type for the PL/Perlu language."
homepage = "https://www.postgresql.org"
documentation = "https://www.postgresql.org/docs/current/hstore.html"
categories = ["data_transformations"]

[dependencies]
apt = ["libc6", "libperl5.34"]

[build]
postgres_version = "15"
platform = "linux/amd64"
dockerfile = "Dockerfile"
install_command = """
    cd postgres/contrib/hstore_plperl && make install
    set -x
    mv /usr/local/pgsql/share/extension/hstore_plperlu* /usr/share/postgresql/15/extension
    mv /usr/local/pgsql/lib/* /usr/lib/postgresql/15/lib
    """
